/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.tree_new ul {
  display: none;
  list-style-type: none;
  margin: 4px auto;
  margin-left: 6px;
  border-left: 1px dashed #dfdfdf;
}
.tree_new li {
  padding: 12px 18px;
  list-style-type: none;
  cursor: pointer;
  vertical-align: middle;
  background: #fff;
}
.tree_new li:first-child {
  border-radius: 3px 3px 0 0;
}
.tree_new li:last-child {
  border-radius: 0 0 3px 3px;
}
.tree_new .active,
.tree_new .active li {
  background: #efefef;
}
.tree_new label {
  cursor: pointer;
}
.tree_new input[type=checkbox] {
  margin: -2px 6px 0 0px;
}
.tree_new .has > label {
  color: #000;
}
.tree_new .total {
  color: #e13300;
}

input {
 text-transform: uppercase;
}
#floatMenu {
  position:absolute;
  top:150px;
  right:0%;
  margin-left:235px;
  width:160px;
}
#floatMenu ul {
  margin-bottom:20px;
}
#floatMenu ul li {
  list-style-type: none;
}
#floatMenu ul li a {
  display:block;
  border:1px solid #999;
  border-left:6px solid #999;
  text-decoration:none;
  padding:5px 5px 5px 25px;
}
#floatMenu ul.menu1 li a:hover {
  border-color:#09f;
}